.assignments_h3 {
  background-color: gray;
  color: white;
  border-radius: 0.1rem;
}

.assignments_h3_1 {
  background-color: burlywood;
  color: white;
  border-radius: 0.1rem;
}

.assignments_h3_2 {
  background-color: brown;
  color: white;
  border-radius: 0.1rem;
}

.sec {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.assignments_img {
  padding-right: 0.3rem;
}

hr {
  height: 1px;
  color: black;
  border-radius: 1rem;
  margin: 0px 5rem 0px 5rem;
}

.current_week_style {
  color: white;
  font-weight: bold;
  padding: 0.2rem;
}
