* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

.span_1 {
  font-weight: bold;
}
